html {
	background-color: #FFE;
	border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;

}

.nutritionInfo {
	color: #887;
}

#recipeLink {
	color: #900;
}

#cookieImage {
	border-style: solid;
}

h2 {
	color: #8000ff;
}
