html {
	background-color: #FFE;
	border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.nutritionInfo {
	color: #887;
}

#recipeLink {
	color: #900;
}

#cookieImage {
	border-style: solid;
}

h2 {
	color: #8000ff;
}

.ingredientsMethod {
	float: left;
	padding: 10px;
	text-align: left;
	width: 500px;
	margin-left: 100px;
}